<app-header titulo="Gestión de Sucursales" [esHome]="false"></app-header>

<ion-content class="ion-padding sucursales-content">
  <div class="crud-container">
    
    <div class="table-header-actions">
      <div class="titulos">
        <h2>Listado de Sucursales</h2>
        <p>Sedes operativas registradas: {{ sucursales.length }}</p>
      </div>
      <ion-button class="btn-principal" (click)="abrirModalAgregar()">
        <ion-icon slot="start" name="add-outline"></ion-icon>
        Agregar Sucursal
      </ion-button>
    </div>

    <div class="table-responsive">
      <table class="custom-table">
        <thead>
          <tr>
            <th>ID</th>
            <th>Nombre Sucursal</th>
            <th>Empresa (Tenant)</th>
            <th>Dirección</th>
            <th>Fecha Registro</th>
            <th class="text-center">Acciones</th>
          </tr>
        </thead>
        <tbody>
          
          @for (sucursal of sucursales; track sucursal.id) {
            <tr>
              <td class="uuid-text">{{ (sucursal.id?.substring(0, 8) ?? '').toUpperCase() }}...</td>
              
              <td class="font-bold">{{ sucursal.nombre }}</td>
              
              <td>
                <span class="tenant-badge">
                  {{ sucursal.empresa?.nombre || 'Sin Empresa' }}
                </span>
              </td>
              
              <td class="direccion-text">{{ sucursal.direccion || 'N/A' }}</td>
              
              <td class="fecha-text">{{ sucursal.created_at | date:'dd/MM/yyyy HH:mm' }}</td>
              
              <td class="actions-cell">
                <ion-button fill="clear" class="btn-editar" title="Editar" color="warning" (click)="abrirModalEditar(sucursal)">
                  <ion-icon slot="icon-only" name="create-outline"></ion-icon>
                </ion-button>
                
                <ion-button fill="clear" class="btn-eliminar" title="Eliminar" color="danger"  (click)="confirmarEliminacion(sucursal)">
                  <ion-icon slot="icon-only" name="trash-outline"></ion-icon>
                </ion-button>
              </td>
            </tr>
          } @empty {
            <tr>
              <td colspan="6" class="text-center no-data">
                No se encontraron sucursales registradas.
              </td>
            </tr>
          }

        </tbody>
      </table>
    </div>

  </div>
</ion-content>