<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-title>Modificar Empleado</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="cancelar()" class="btn-close-header">
        <ion-icon slot="icon-only" name="close-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding modal-ejecutivo-content">
  <form [formGroup]="empleadoForm" (ngSubmit)="guardar()">

    <div class="form-container">
      
      <h3 class="section-title">Asignación de Entidad</h3>
      
      <div class="select-group">
        <div class="custom-select-container">
          <ion-icon name="business-outline" class="select-inner-icon"></ion-icon>
          <ion-select 
            label="Empresa Dueña" 
            labelPlacement="floating" 
            interface="popover"
            toggleIcon="chevron-down-outline"
            expandedIcon="chevron-up-outline"
            formControlName="tenant_id"
            (ionChange)="onEmpresaChange($event)">
            
            @for (empresa of empresasActivas; track empresa.id) {
              <ion-select-option [value]="empresa.id">
                {{ empresa.nombre }}
              </ion-select-option>
            }
          </ion-select>
        </div>

        <div class="custom-select-container ion-margin-top">
          <ion-icon name="storefront-outline" class="select-inner-icon"></ion-icon>
          <ion-select 
            label="Sucursal Asignada" 
            labelPlacement="floating" 
            interface="popover"
            toggleIcon="chevron-down-outline"
            expandedIcon="chevron-up-outline"
            formControlName="sucursal_id">
            
            @for (sucursal of sucursalesFiltradas; track sucursal.id) {
              <ion-select-option [value]="sucursal.id">
                {{ sucursal.nombre }}
              </ion-select-option>
            }
          </ion-select>
        </div>
      </div>

      <h3 class="section-title ion-margin-top">Información General</h3>

      <div class="fields-group">
        <ion-input fill="solid" label="Nombre Completo" labelPlacement="floating" type="text"
          formControlName="nombre_completo" (ionInput)="onNombreInput($event)"></ion-input>

        <ion-input fill="solid" label="CURP" labelPlacement="floating" type="text" formControlName="curp" maxlength="18" (ionInput)="onCurpInput($event)" class="ion-margin-top"></ion-input>
        
        @if (empleadoForm.get('curp')?.invalid && empleadoForm.get('curp')?.touched) {
          <ion-note color="danger" class="error-msg">⚠️ El CURP debe tener exactamente 18 caracteres.</ion-note>
        }

        <ion-input fill="solid" label="NSS" labelPlacement="floating" type="number" formControlName="nss" maxlength="11" class="ion-margin-top"></ion-input>
        
        @if (empleadoForm.get('nss')?.invalid && empleadoForm.get('nss')?.touched) {
          <ion-note color="danger" class="error-msg">⚠️ El NSS debe tener exactamente 11 dígitos.</ion-note>
        }

        <ion-input fill="solid" label="Salario Diario ($)" labelPlacement="floating" type="number"
          formControlName="salario_diario" class="ion-margin-top"></ion-input>

        <ion-input fill="solid" label="Puesto / Cargo" labelPlacement="floating" type="text"
          formControlName="puesto" class="ion-margin-top"></ion-input>
      </div>

      <h3 class="section-title ion-margin-top">Credenciales y Estado</h3>
      
      <div class="credentials-group">
        <ion-input fill="solid" label="Usuario de Ingreso" labelPlacement="floating" type="text"
          formControlName="user" placeholder="N/A si es empleado normal"></ion-input>

        <ion-input fill="solid" label="Cambiar Contraseña (Opcional)" labelPlacement="floating" type="password"
          formControlName="password_hash" placeholder="Escribe para modificar" class="ion-margin-top">
          <ion-input-password-toggle slot="end"></ion-input-password-toggle>
        </ion-input>
        <ion-note class="info-note">Deja el campo vacío si no deseas modificar la contraseña actual.</ion-note>

        <div class="custom-select-container ion-margin-top">
          <ion-select 
            label="Estatus Laboral" 
            labelPlacement="floating" 
            interface="popover"
            toggleIcon="chevron-down-outline"
            expandedIcon="chevron-up-outline"
            formControlName="estatus">
            <ion-select-option [value]="true">Activo</ion-select-option>
            <ion-select-option [value]="false">Inactivo</ion-select-option>
          </ion-select>
        </div>
      </div>

      <h3 class="section-title ion-margin-top">Fotografía de Identificación</h3>
      <input type="file" accept="image/*" capture="user" #fileInput (change)="onFileSelected($event)" style="display: none;">

      <div class="foto-zona ion-text-center ion-margin-top">
        @if (!imagePreview) {
          <div class="placeholder-camara" (click)="activarCamara()">
            <ion-icon name="camera-outline"></ion-icon>
            <p>Seleccionar Foto de Perfil</p>
            <span>Formatos aceptados: JPG, PNG (Cara descubierta)</span>
          </div>
        } @else {
          <div class="preview-container">
            <img [src]="imagePreview" class="preview-img" alt="Previsualización Biométrica">
            <button type="button" class="btn-remove-foto" (click)="eliminarFoto($event)">
              <ion-icon name="trash-outline"></ion-icon>
            </button>
          </div>
        }
      </div>

    </div>

    <ion-button 
      expand="block" 
      type="submit" 
      [disabled]="empleadoForm.invalid || isSaving" 
      class="submit-btn">
      <ion-icon slot="start" name="save-outline"></ion-icon>
      Actualizar Datos
    </ion-button>
  </form>
</ion-content>