<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-title>Nueva Sucursal</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="cancelar()" class="btn-cancelar-header">
        <ion-icon slot="icon-only" name="close-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding modal-ejecutivo-content">
  <form (ngSubmit)="guardar()">
    
    <div class="form-group">
      <div class="custom-select-container">
        <ion-select 
          label="Seleccionar Empresa" 
          labelPlacement="floating" 
          interface="popover"
          toggleIcon="chevron-down-outline"
          expandedIcon="chevron-up-outline"
          name="tenant_id"
          [(ngModel)]="nuevaSucursal.tenant_id"
          placeholder="Elegir empresa dueña"
          required>
          
          @for (empresa of empresasActivas; track empresa.id) {
            <ion-select-option [value]="empresa.id">
              {{ empresa.nombre }}
            </ion-select-option>
          }
        </ion-select>
      </div>

      @if (empresasActivas.length > 0) {
        <ion-note slot="helper">Solo aparecen empresas con estatus Activo.</ion-note>
      }

      @if (empresasActivas.length === 0) {
        <ion-note slot="error" color="danger">No hay empresas activas disponibles.</ion-note>
      }
    </div>

    <div class="form-group ion-margin-top">
      <ion-input 
        label="Nombre de la Sucursal" 
        labelPlacement="floating" 
        fill="solid" 
        type="text" 
        name="nombre"
        [(ngModel)]="nuevaSucursal.nombre" 
        required
        placeholder="Ej. Sucursal Centro">
      </ion-input>
    </div>

    <div class="form-group ion-margin-top">
      <ion-textarea 
        label="Dirección (Opcional)" 
        labelPlacement="floating" 
        fill="solid" 
        name="direccion"
        [(ngModel)]="nuevaSucursal.direccion" 
        [autoGrow]="true"
        placeholder="Calle, Número, Colonia...">
      </ion-textarea>
    </div>

    <div class="form-actions ion-margin-top">
      <ion-button type="submit" expand="block" class="btn-guardar" [disabled]="sucursalForm.invalid || !nuevaSucursal.nombre.trim() || !nuevaSucursal.tenant_id">
        <ion-icon slot="start" name="save-outline"></ion-icon>
        Guardar Sucursal
      </ion-button>
    </div>
  </form>
</ion-content>