<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-title>Registrar Nueva Empresa</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="cancelar()" class="btn-cancelar-header">
        <ion-icon slot="icon-only" name="close-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding modal-ejecutivo-content">
  <form (ngSubmit)="guardar()">
    
    <div class="form-group">
      <ion-input 
        label="Nombre de la Empresa" 
        labelPlacement="floating" 
        fill="solid" 
        type="text" 
        name="nombre"
        [(ngModel)]="nuevaEmpresa.nombre" 
        #nombreCtrl="ngModel"
        required
        placeholder="Ej. Comercializadora Médica S.A.">
      </ion-input>

      @if (!nombreCtrl.touched) {
        <ion-note slot="helper">Escribe el nombre legal o comercial de la empresa.</ion-note>
      }

      @if (nombreCtrl.invalid && nombreCtrl.touched) {
        <ion-note slot="error" color="danger">
          El nombre de la empresa es obligatorio.
        </ion-note>
      }
    </div>

    <div class="form-group ion-margin-top">
      <ion-input 
        label="RFC" 
        labelPlacement="floating" 
        fill="solid" 
        type="text" 
        name="rfc"
        [(ngModel)]="nuevaEmpresa.rfc" 
        #rfcCtrl="ngModel"
        required
        minlength="12"
        maxlength="13"
        placeholder="Ej. ABC123456789">
      </ion-input>

      @if (!rfcCtrl.touched) {
        <ion-note slot="helper">Persona Física (13 letras/números) o Moral (12 letras/números).</ion-note>
      }

      @if (rfcCtrl.touched && (nuevaEmpresa.rfc.trim().length < 12 || nuevaEmpresa.rfc.trim().length > 13)) {
        <ion-note slot="error" color="danger">
          El RFC debe tener exactamente entre 12 y 13 caracteres.
        </ion-note>
      }
    </div>

    <div class="form-group ion-margin-top logo-upload-section">
      <label class="custom-label-logo">Logotipo de la Empresa (Opcional)</label>
      
      <input 
        type="file" 
        id="logoFile" 
        accept="image/png, image/jpeg, image/jpg" 
        (change)="seleccionarFoto($event)" 
        class="hidden-file-input" 
      />

      @if (!nuevaEmpresa.logo_url) {
        <label for="logoFile" class="dropzone-container">
          <div class="dropzone-content">
            <ion-icon name="image-outline" class="dropzone-icon"></ion-icon>
            <span class="dropzone-text">Seleccionar Logotipo Institucional</span>
            <span class="dropzone-subtext">Formatos aceptados: PNG, JPG (Max. 2MB)</span>
          </div>
        </label>
      } @else {
        <div class="preview-active-container">
          <img [src]="nuevaEmpresa.logo_url" alt="Logotipo corporativo" class="img-preview-canvas" />
          
          <button type="button" class="btn-remove-logo" (click)="nuevaEmpresa.logo_url = ''">
            <ion-icon name="trash-outline"></ion-icon>
          </button>
        </div>
      }

      <ion-note class="helper-logo">Esta imagen se incrustará automáticamente en la cabecera del reporte PDF.</ion-note>
    </div>

    <div class="form-actions ion-margin-top" >
      <ion-button type="submit" expand="block" class="btn-guardar" [disabled]="empresaForm.invalid || !nuevaEmpresa.nombre.trim() || !nuevaEmpresa.rfc.trim()">
        <ion-icon slot="start" name="save-outline"></ion-icon>
        Guardar Empresa
      </ion-button>
    </div>
  </form>
</ion-content>