<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-title>Generar Nueva Nómina</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="cerrar()" class="btn-close-header">
        <ion-icon slot="icon-only" name="close-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding modal-ejecutivo-content">
  <div class="form-container">
    
    <div class="instrucciones-box">
      <ion-icon name="information-circle-outline" class="info-icon"></ion-icon>
      <p class="instrucciones">
        Selecciona el rango de fechas. El sistema escaneará las asistencias de reconocimiento facial y las incidencias aprobadas en este periodo para congelar los salarios de forma automática.
      </p>
    </div>

    <div class="input-grupo ion-margin-top">
      <ion-input 
        label="Fecha de Inicio del Período" 
        labelPlacement="floating" 
        fill="solid" 
        type="date" 
        class="custom-date-input"
        [(ngModel)]="periodo_inicio">
        <ion-icon slot="start" name="calendar-outline" class="input-inner-icon"></ion-icon>
      </ion-input>
    </div>

    <div class="input-grupo ion-margin-top">
      <ion-input 
        label="Fecha de Fin del Período" 
        labelPlacement="floating" 
        fill="solid" 
        type="date" 
        class="custom-date-input"
        [(ngModel)]="periodo_fin">
        <ion-icon slot="start" name="calendar-outline" class="input-inner-icon"></ion-icon>
      </ion-input>
    </div>

    <div class="acciones-container ion-margin-top">
      <ion-button class="btn-cancelar" fill="clear" (click)="cerrar()" [disabled]="guardando">
        Cancelar
      </ion-button>
      
      <ion-button class="btn-procesar" (click)="guardar()" [disabled]="guardando">
        @if (guardando) {
          <ion-spinner name="crescent"></ion-spinner>
          <span style="margin-left: 8px;">Calculando...</span>
        } @else {
          <ion-icon slot="start" name="calculator-outline"></ion-icon>
          <span>Procesar y Guardar</span>
        }
      </ion-button>
    </div>

  </div>
</ion-content>