<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-title class="header-title-executive">Generar Nueva Nómina</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="cerrar()" class="btn-close-header">
        <ion-icon slot="icon-only" name="close-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding modal-ejecutivo-content">
  <div class="form-container">
    
    <div class="instrucciones-box">
      <ion-icon name="information-circle-outline" class="info-icon"></ion-icon>
      <p class="instrucciones">
        Selecciona el rango de fechas. El sistema escaneará las asistencias de reconocimiento facial y las incidencias aprobadas en este periodo para congelar los salarios de forma automática.
      </p>
    </div>

    <div class="input-grupo-custom">
      <label class="label-custom">Fecha de Inicio del Período</label>
      <div class="input-wrapper" (click)="inicioPicker.showPicker()">
        <ion-icon name="calendar-outline" class="calendar-start-icon"></ion-icon>
        <input 
          #inicioPicker
          type="date" 
          [(ngModel)]="periodo_inicio"
          class="native-date-input"
        />
      </div>
    </div>

    <div class="input-grupo-custom">
      <label class="label-custom">Fecha de Fin del Período</label>
      <div class="input-wrapper" (click)="finPicker.showPicker()">
        <ion-icon name="calendar-outline" class="calendar-start-icon"></ion-icon>
        <input 
          #finPicker
          type="date" 
          [(ngModel)]="periodo_fin"
          class="native-date-input"
        />
      </div>
    </div>

    <div class="acciones-container">
      <ion-button (click)="cerrar()" fill="clear" class="btn-cancelar" [disabled]="guardando">
        Cancelar
      </ion-button>
      
      <ion-button (click)="guardar()" class="btn-procesar" [disabled]="guardando">
        @if (guardando) {
          <ion-spinner name="crescent"></ion-spinner>
          <span class="btn-text">Calculando...</span>
        } @else {
          <ion-icon slot="start" name="calculator-outline"></ion-icon>
          <span class="btn-text">Procesar y Guardar</span>
        }
      </ion-button>
    </div>

  </div>
</ion-content>