<ion-header>
  <ion-toolbar color="primary">
    <ion-title *ngIf="nomina">
      Desglose: Período #{{ nomina.id.substring(0,8).toUpperCase() }}
    </ion-title>
    <ion-title *ngIf="!nomina">Cargando Desglose...</ion-title>
    <ion-button slot="end" fill="clear" color="light" (click Rama)="cerrar()">
      VOLVER
    </ion-button>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding modal-background">

  <div *ngIf="cargando" class="spinner-container">
    <ion-spinner name="cues"></ion-spinner>
    <p>Sincronizando cuentas y timbrados...</p>
  </div>

  <div *ngIf="!cargando && nomina" class="modulo-container">

    <div class="resumen-periodo">
      <div class="datos">
        <h3>Rango: <span>{{ nomina.periodo_inicio | date:'dd/MM/yyyy':'UTC' }}</span> al <span>{{ nomina.periodo_fin | date:'dd/MM/yyyy':'UTC' }}</span></h3>
        <p>Generada el {{ nomina.created_at | date:'dd/MM/yyyy hh:mm a' }}</p>
      </div>
      
      <div class="acciones-estatus">
        <ion-button 
          *ngIf="nomina.estatus === EstatusEnum.BORRADOR" 
          color="secondary" 
          size="small" 
          [disabled]="procesandoEstatus"
          (click)="cambiarEstado(EstatusEnum.TIMBRADA)">
          {{ procesandoEstatus ? 'Procesando...' : 'Timbrar Nómina' }}
        </ion-button>

        <ion-button 
          *ngIf="nomina.estatus === EstatusEnum.TIMBRADA" 
          color="success" 
          size="small" 
          [disabled]="procesandoEstatus"
          (click)="cambiarEstado(EstatusEnum.PAGADA)">
          {{ procesandoEstatus ? 'Registrando Pago...' : 'Marcar como Pagada' }}
        </ion-button>

        <span class="badge-tag" [ngClass]="getEstatusClass(nomina.estatus)">
          {{ nomina.estatus }}
        </span>
      </div>
    </div>

    <hr class="divisor" />

    <div class="tabla-wrapper">
      <table class="tabla-detalles">
        <thead>
          <tr>
            <th>FOTO</th>
            <th>COLABORADOR</th>
            <th>PUESTO</th>
            <th class="text-center">DÍAS LAB</th>
            <th class="text-center">FALTAS</th>
            <th class="text-center">HRS EXTRA</th>
            <th class="text-right">PAGO BASE</th>
            <th class="text-right">PAGO EXTRA</th>
            <th class="text-right">TOTAL NETO</th>
            <th class="text-center">ACCIONES</th> </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of nomina.detalles">
            <td>
              <div class="avatar-container">
                <img 
                  *ngIf="item.empleado?.foto_perfil_url"
                  [src]="'http://localhost:3000/' + item.empleado?.foto_perfil_url" 
                  class="avatar-tabla" 
                  alt="Perfil"
                  (error)="item.empleado!.foto_perfil_url = ''" 
                />
               <div *ngIf="!item.empleado?.foto_perfil_url" class="avatar-placeholder">
  {{ (item.empleado?.nombre_completo || 'E').substring(0, 1).toUpperCase() }}
</div>
              </div>
            </td>
            <td>
              <div class="nombre-emp">{{ item.empleado?.nombre_completo }}</div>
              <div class="curp-sub">CURP: {{ item.empleado?.curp }}</div>
            </td>
            <td>{{ item.empleado?.puesto || 'Sin Puesto' }}</td>
            <td class="text-center num-destacado">{{ item.dias_asistidos }}</td>
            <td class="text-center text-danger font-bold">{{ item.faltas }}</td>
            <td class="text-center text-warning font-bold">{{ item.horas_extra }} hrs</td>
            <td class="text-right">{{ item.pago_base | currency:'MXN':'symbol':'1.2-2' }}</td>
            <td class="text-right text-success">+{{ item.pago_horas_extra | currency:'MXN':'symbol':'1.2-2' }}</td>
            <td class="text-right total-pagar">{{ item.total_neto | currency:'MXN':'symbol':'1.2-2' }}</td>
            <td class="text-center">
              <ion-button color="light" size="small" class="btn-pdf" (click)="descargarPDF(item)">
                PDF
              </ion-button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>

  </div>
</ion-content>