<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-title>Modificar Sucursal</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="cancelar()" class="btn-cancelar-header">
        <ion-icon slot="icon-only" name="close-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding modal-ejecutivo-content">
  <form (ngSubmit)="guardar()">
    
    <div class="form-group">
      <div class="custom-select-container">
        <ion-select 
          label="Empresa Dueña" 
          labelPlacement="floating" 
          interface="popover"
          toggleIcon="chevron-down-outline"
          expandedIcon="chevron-up-outline"
          name="tenant_id"
          [(ngModel)]="sucursalEditada.tenant_id"
          required>
          
          @for (empresa of empresasActivas; track empresa.id) {
            <ion-select-option [value]="empresa.id">
              {{ empresa.nombre }}
            </ion-select-option>
          }
        </ion-select>
      </div>
    </div>

    <div class="form-group ion-margin-top">
      <ion-input 
        label="Nombre de la Sucursal" 
        labelPlacement="floating" 
        fill="solid" 
        type="text" 
        name="nombre"
        [(ngModel)]="sucursalEditada.nombre" 
        required>
      </ion-input>
    </div>

    <div class="form-group ion-margin-top">
      <ion-textarea 
        label="Dirección" 
        labelPlacement="floating" 
        fill="solid" 
        name="direccion"
        [(ngModel)]="sucursalEditada.direccion" 
        [autoGrow]="true">
      </ion-textarea>
    </div>

    <div class="form-actions ion-margin-top">
      <ion-button type="submit" expand="block" class="btn-guardar">
        <ion-icon slot="start" name="save-outline"></ion-icon>
        Actualizar Sucursal
      </ion-button>
    </div>
  </form>
</ion-content>