<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-title>Registrar Administrador de Sucursal</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="cancelar()" class="btn-close-header">
        <ion-icon slot="icon-only" name="close-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding modal-ejecutivo-content">
  <form [formGroup]="empleadoForm" (ngSubmit)="confirmar()">

    <div class="form-container">
      
      <div class="select-group">
        <div class="custom-select-container">
          <ion-icon name="business-outline" class="select-inner-icon"></ion-icon>
          <ion-select 
            label="Asignar Empresa" 
            labelPlacement="floating" 
            interface="popover"
            toggleIcon="chevron-down-outline"
            expandedIcon="chevron-up-outline"
            formControlName="tenant_id"
            (ionChange)="onEmpresaChange($event)"
            placeholder="Seleccionar empresa">
            
            @for (empresa of empresasActivas; track empresa.id) {
              <ion-select-option [value]="empresa.id">
                {{ empresa.nombre }}
              </ion-select-option>
            }
          </ion-select>
        </div>

        <div class="custom-select-container ion-margin-top">
          <ion-icon name="storefront-outline" class="select-inner-icon"></ion-icon>
          <ion-select 
            label="Asignar Sucursal" 
            labelPlacement="floating" 
            interface="popover"
            toggleIcon="chevron-down-outline"
            expandedIcon="chevron-up-outline"
            formControlName="sucursal_id"
            placeholder="Seleccionar sucursal">
            
            @for (sucursal of sucursalesFiltradas; track sucursal.id) {
              <ion-select-option [value]="sucursal.id">
                {{ sucursal.nombre }}
              </ion-select-option>
            }
          </ion-select>
        </div>
      </div>

      <div class="fields-group ion-margin-top">
        <ion-input fill="solid" label="Nombre Completo" labelPlacement="floating" type="text"
          formControlName="nombre_completo" placeholder="Ej. Oswaldo Hernández" (ionInput)="onNombreInput($event)"></ion-input>

        <ion-input fill="solid" label="CURP" labelPlacement="floating" type="text" formControlName="curp" maxlength="18" (ionInput)="onCurpInput($event)" class="ion-margin-top"></ion-input>
        
        @if (empleadoForm.get('curp')?.invalid && empleadoForm.get('curp')?.touched) {
          <ion-note color="danger" class="error-msg">⚠️ El CURP debe tener exactamente 18 caracteres.</ion-note>
        }

        <ion-input fill="solid" label="NSS" labelPlacement="floating" type="number" formControlName="nss" maxlength="11" class="ion-margin-top">
          <div slot="helper">Debe tener exactamente 11 dígitos</div>
        </ion-input>
        
        @if (empleadoForm.get('nss')?.invalid && empleadoForm.get('nss')?.touched) {
          <ion-note color="danger" class="error-msg">⚠️ El NSS debe tener exactamente 11 dígitos.</ion-note>
        }

        <ion-input fill="solid" label="Salario Diario ($)" labelPlacement="floating" type="number"
          formControlName="salario_diario" class="ion-margin-top"></ion-input>

        <ion-input fill="solid" label="Puesto" labelPlacement="floating" type="text"
          formControlName="puesto" placeholder="Ej. Encargado General" class="ion-margin-top"></ion-input>
      </div>

      <div class="credentials-group ion-margin-top">
        <h3>Credenciales de Autorización</h3>
        
        <ion-input fill="solid" label="Usuario de Ingreso" labelPlacement="floating" type="text"
          formControlName="user" placeholder="Ej. oswaldo.admin"></ion-input>
        
        @if (empleadoForm.get('user')?.invalid && empleadoForm.get('user')?.touched) {
          <ion-note color="danger" class="error-msg">⚠️ El usuario es obligatorio (Min. 4 caracteres).</ion-note>
        }

        <ion-input fill="solid" label="Contraseña de Sistema" labelPlacement="floating" type="password"
          formControlName="password_hash" placeholder="Ej.••••••••" class="ion-margin-top">
          <ion-input-password-toggle slot="end"></ion-input-password-toggle> 
        </ion-input>
        
        @if (empleadoForm.get('password_hash')?.invalid && empleadoForm.get('password_hash')?.touched) {
          <ion-note color="danger" class="error-msg">⚠️ La contraseña es obligatoria (Min. 6 caracteres).</ion-note>
        }
      </div>

      <input type="file" accept="image/*" capture="user" #fileInput (change)="onFileSelected($event)" style="display: none;">

      <div class="foto-zona ion-text-center ion-margin-top">
        @if (!imagePreview) {
          <div class="placeholder-camara" (click)="activarCamara()">
            <ion-icon name="camera-outline"></ion-icon>
            <p>Capturar Rostro para Biometría Facial</p>
            <span>Formatos aceptados: JPG, PNG (Cara descubierta)</span>
          </div>
        } @else {
          <div class="preview-container">
            <img [src]="imagePreview" class="preview-img" alt="Previsualización Biométrica">
            <button type="button" class="btn-remove-foto" (click)="eliminarFoto($event)">
              <ion-icon name="trash-outline"></ion-icon>
            </button>
          </div>
        }
      </div>
    </div>

    <ion-button 
      expand="block" 
      type="submit" 
      [disabled]="empleadoForm.invalid || !selectedFile || !isModelLoaded || isSaving" 
      class="submit-btn" 
      size="large">
      
      @if (isSaving) {
        <ion-spinner name="crescent"></ion-spinner>
        <span style="margin-left: 12px;">Analizando y guardando...</span>
      } @else if (!isModelLoaded) {
        <ion-spinner name="dots" style="margin-right: 10px;"></ion-spinner>
        <span>Preparando IA...</span>
      } @else {
        <span>Guardar Administrador</span>
      }
    </ion-button>
  </form>
</ion-content>